#texto{
    height: 926px;
    min-width: 100%;
    padding-left: 0%;
    padding-right: 0%;
    font-size: 1.1em;

}

#cajabotones{
    margin-left: 40%; 
}
#reja{
    margin-left: 50%; 
}



#modal-footer{
    margin-right: 30%;
}

.icono-archivo{
    background-color: #ffffff;
    border-radius: 20px;
    padding: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.imagen-archivo{
    margin: 0 20%;
}

.archivos-texto{
    text-align: center;
    margin-top: 5px;
}
.editor-fondo{
    padding: 0;
}

.hidden{
    display: none;
}